
    @import url(//fonts.googleapis.com/css?family=Open+Sans);
    .container {
        padding-top: 30px;
        margin: 0 auto; 
        padding: 10px;
        margin-right: 2rem;
        margin-left: 2rem;
        font-family: 'Open Sans';
    }

    .name-tag {
        text-decoration: none;
        color: rgb(0, 0, 0);  
    }

    .nav-name {
        font-size: 30px;
        font-weight: 540;
        float: left;
        margin-left: 2rem;
    }

    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        font-family: 'Open Sans';
        max-width: 100%;    
        min-width: 1000px;
    }

    nav li {
        float: right;
    }

    nav li a {
        text-decoration: none;
        color: rgb(0, 0, 0);        
        display: inline-block;
        font-style: normal;
        margin-right: 2rem;
        font-size: 20px;
        font-weight: 530;
    }


    @media screen and (max-width: 1000px){
 
        .mobile-menu {
            float: right;
        }

    }