
    @import url(//fonts.googleapis.com/css?family=Open+Sans);

    .name-tag {
        text-decoration: none;
        color: rgb(0, 0, 0);  
    }

    .nav-name {
        font-size: 30px;
        font-weight: 540;
        float: left;
    }

    nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        font-family: 'Open Sans';
    }

    nav li {
        float: right;
    }

    nav li a {
        text-decoration: none;
        color: rgb(0, 0, 0);        
        display: inline-block;
        font-style: normal;
        margin-right: 2rem;
        font-size: 20px;
        font-weight: 530;
    }


    @media screen and (max-width: 800px){
 
        .mobile-menu {
            margin: 0;
            padding-top: 10px;
            float: right;
        }

    }