


.intro-text {
    padding-top: 150px;
    font-weight: 600;
    padding-bottom: 200px;
    font-size: 40px;
    text-align: center;
    margin-left: 2rem;
}

.subtext {
    display: inline-block; 
    text-align: left;
}

.hi {
    font-size: 60px;
}

.images-container {
    padding-top: 25px;
}

.images {
    height: 50px;
    width: 50px;
}


