

.format {
    margin-left: 1rem;
}

.project-box {
    border: 1px solid blue;
}

.project_photo {
    width: 400px;
    height: 400px;
    border: 1px solid blue;
}

.row {
    display: flex;
    justify-content: center;
}

.col-project {
    padding: 20px;
}


@media screen and (max-width: 935px){
    .row {
        display: grid;
    }

}
