@import url(//fonts.googleapis.com/css?family=Open+Sans);

.container {
    padding-top: 30px;
    margin: 0 auto; 
    padding: 10px;
    margin-right: 1rem;
    margin-left: 1rem;
    font-family: 'Open Sans';
}
